h3 {
    text-align: center;
    color: black;
}

.forma{

    color: red ;

    font-size: 25px;

    text-align: center

 }

 .forma2{

    color:black;

    font-size: 25px;

    text-align: center

 }